<div class="panel panel-default" ng-controller="userTablesWidget">
    <div class="panel-heading">
    Your Qualifications
    </div>
    <div class="panel-body">
        <div class="widgetTable" ng-repeat="table in tables">
            <h4> {{table.name}} </h4>
            <table class="table table-striped" wt-responsive-table>
                <thead>
                <tr>
                    <th ng-repeat="col in table.data">
                        {{col.header}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td  ng-repeat="col in table.data">
                        <input type="{{col.inputType}}" ng-model="col.value" ng-if="col.inputType=='checkbox'"/>
                        <select  ng-model="col.value" ng-if="col.inputType=='select'">
                            <option ng-repeat="opt in col.options" value="{{opt}}">{{opt}} </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
<!-- <div class="col-sm-1" ng-repeat="col in table.data">
                <table class="table table-condensed table-table" >
                    <tr style="height: 50px">
                        <th >
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="{{col.inputType}}" ng-model="col.value" ng-if="col.inputType=='checkbox'"/>
                            <select  ng-model="col.value" ng-if="col.inputType=='select'">
                                <option ng-repeat="opt in col.options" value="{{opt}}">{{opt}} </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div> -->