.centre-float {
    padding-top: 10%;
}

.control-label {
    text-align: right;
    
}

.form-control {
    box-sizing: border-box;
}

.signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

.signin input[type="password"] {
    margin-top: -1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    
}

.navbar-brand {
    color: #FFF !important;
}

html {
    background: url("background.jpg") no-repeat fixed center ;
/*  background-size: cover; */
}

body {
    background: none !important;
}

td, th {
    text-align: center;
}

.table-table, .table-table > tr, .table-table > tr > th {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    min-width: 100%;
    margin: 0px;
    border: none !important;
}
    